*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.UI{
    width: 15vw;
    height: 90vh;
    position: absolute;
    background-color: black;
    transition: 0.5s;
    margin: 50px 10px 50px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 0px;
    color: white;
    border: 1px solid white;
    padding: 20px;
    user-select: none;
}
#leftUI{
    left: -20vw;
    top: 0;
}
#rightUI{
    right: -20vw;
    top: 0;
}

#cameraPos{
    position: absolute;
    top: 10px;
    right: 10px;
    color: lime;
}

#objectPresetContainer{
    display: inline-block;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.presetButton{
    width: 33%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-color: black;
    border: 1px solid black;
    margin-top: 10px;
    transition: 0.3s;
}
.presetButton:hover{
    border: 1px solid white;
    cursor: pointer;
}
