@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Tomorrow", sans-serif;
    font-weight: 300;
}

.UI{
    width: 15vw;
    height: 90vh;
    position: absolute;
    background-color: black;
    transition: 0.5s;
    margin: 50px 10px 50px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 0px;
    color: white;
    background-color: rgb(10, 10, 10);
    padding: 20px;
    user-select: none;
}
#leftUI{
    left: -20vw;
    top: 0;
}
#rightUI{
    right: -20vw;
    top: 0;
}

#cameraPos{
    position: absolute;
    top: 10px;
    right: 10px;
    color: lime;
}

#objectPresetContainer{
    display: inline-block;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.presetButton{
    
    width: 33%;
    aspect-ratio: 1/1;
    background-size: cover;
    margin-top: 10px;
    transition: 0.3s;
}
.presetButton:hover{
    background-color: rgb(27, 27, 27);
    cursor: pointer;
}

.leftUISplit{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#objectContainer{
    width: 100%;
    padding: 5px;
}

.spawnedObject{
    width: 99%;
    padding: 5px;
    margin-top: 4px;
    background-color: rgb(20, 20, 20);
}